:root {
  --color-main: #1d9ae2;
  --color-hover: #1984c2;
  --bg-body: #f0eee9;
  --bg-card: #ffffff;
  --text-p: #082b3f;
  --text-s: #136290;
  --border: #c0e3f7;
  --shadow: rgba(0, 0, 0, 0.05);
}

[data-theme="dark"] {
  --bg-body: #171515;
  --bg-card: #221f1f;
  --text-p: #e8f5fc;
  --text-s: #97d0f2;
  --border: #353030;
  --shadow: rgba(0, 0, 0, 0.4);
}

* {
  box-sizing: border-box;
  transition:
    background-color 0.3s,
    color 0.3s;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

.upload-section {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.upload-card {
  background-color: var(--bg-card);
  width: 100%;
  max-width: 700px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px var(--shadow);
  border: 1px solid var(--border);
}

.drop-zone {
  border: 2px dashed var(--color-main);
  background-color: rgba(29, 154, 226, 0.05);
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.drop-zone:hover {
  background-color: rgba(29, 154, 226, 0.1);
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.full-width {
  grid-column: span 2;
}

.field-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--text-s);
}

input,
select,
textarea {
  padding: 12px;
  border: 1px solid var(--border);
  border-radius: 8px;
  background-color: var(--bg-body);
  color: var(--text-p);
  font-size: 1rem;
}

input:focus {
  outline: 2px solid var(--color-main);
  border-color: transparent;
}

.btn-submit {
  background-color: var(--color-main);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.btn-submit:hover {
  background-color: var(--color-hover);
  transform: translateY(-2px);
}
